<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Login Controller</servlet-name>
		<servlet-class>com.internship.osa.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login Controller</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Register Controller</servlet-name>
		<servlet-class>com.internship.osa.controller.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register Controller</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login Check Controller</servlet-name>
		<servlet-class>com.internship.osa.controller.LoginCheckController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login Check Controller</servlet-name>
		<url-pattern>/loginCheck</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout Controller</servlet-name>
		<servlet-class>com.internship.osa.controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout Controller</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>User Accept</servlet-name>
		<servlet-class>com.internship.osa.controller.UserAcceptController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User Accept</servlet-name>
		<url-pattern>/userAccept</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>User Reject</servlet-name>
		<servlet-class>com.internship.osa.controller.UserRejectController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User Reject</servlet-name>
		<url-pattern>/userReject</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Add Admin</servlet-name>
		<servlet-class>com.internship.osa.controller.AddAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add Admin</servlet-name>
		<url-pattern>/addAdmin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Add Event</servlet-name>
		<servlet-class>com.internship.osa.controller.AddEventController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add Event</servlet-name>
		<url-pattern>/addEvent</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Add Image</servlet-name>
		<servlet-class>com.internship.osa.controller.AddImageController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add Image</servlet-name>
		<url-pattern>/addImage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Load Event</servlet-name>
		<servlet-class>com.internship.osa.controller.LoadEventsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Load Event</servlet-name>
		<url-pattern>/loadEvent</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Google Controller</servlet-name>
		<servlet-class>com.internship.osa.controller.GoogleCallBackController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Google Controller</servlet-name>
		<url-pattern>/googlecallback</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Forgot Controller</servlet-name>
		<servlet-class>com.internship.osa.controller.ForgotController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Forgot Controller</servlet-name>
		<url-pattern>/forgot</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Save Password Link</servlet-name>
		<servlet-class>com.internship.osa.controller.SavePasswordLinkController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Save Password Link</servlet-name>
		<url-pattern>/savePasswordLink</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Delete Password Link</servlet-name>
		<servlet-class>com.internship.osa.controller.DeleteForgotUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete Password Link</servlet-name>
		<url-pattern>/deletePasswordLink</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Contact Us</servlet-name>
		<servlet-class>com.internship.osa.controller.ContactController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contact Us</servlet-name>
		<url-pattern>/contactUs</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Google Controller</servlet-name>
		<servlet-class>com.internship.osa.controller.GoogleCallBackController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Google Controller</servlet-name>
		<url-pattern>/googlecallback</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Load Comment</servlet-name>
		<servlet-class>com.internship.osa.controller.LoadCommentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Load Comment</servlet-name>
		<url-pattern>/loadComment</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Add Comment</servlet-name>
		<servlet-class>com.internship.osa.controller.CommentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add Comment</servlet-name>
		<url-pattern>/comment</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Delete Comment</servlet-name>
		<servlet-class>com.internship.osa.controller.DeleteCommentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete Comment</servlet-name>
		<url-pattern>/deleteComment</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Subscribe</servlet-name>
		<servlet-class>com.internship.osa.controller.SubscribeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Subscribe</servlet-name>
		<url-pattern>/subscribe</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Update Event</servlet-name>
		<servlet-class>com.internship.osa.controller.UpdateEventController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update Event</servlet-name>
		<url-pattern>/updateEvent</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Check Password</servlet-name>
		<servlet-class>com.internship.osa.controller.CheckPasswordController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Check Password</servlet-name>
		<url-pattern>/checkPassword</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Change Details</servlet-name>
		<servlet-class>com.internship.osa.controller.ChangeSettingController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Change Details</servlet-name>
		<url-pattern>/changeSetting</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Delete Forgot User</servlet-name>
		<servlet-class>com.internship.osa.controller.DeleteForgotUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete Forgot User</servlet-name>
		<url-pattern>/deleteForgotUser</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Send Welcome Mail</servlet-name>
		<servlet-class>com.internship.osa.controller.SendWelcomeMailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Send Welcome Mail</servlet-name>
		<url-pattern>/sendWelcomeMail</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Repair</servlet-name>
		<servlet-class>com.internship.osa.controller.Repair</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Repair</servlet-name>
		<url-pattern>/repair</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
</web-app>